# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

notebooks/cache/*
notebooks/data/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# Local project documentation
CLAUDE.md
/data/3d_context

.env
/urban_tree_planting/config/__pycache__
/urban_tree_planting/core/__pycache__
/urban_tree_planting/pipeline/__pycache__
/urban_tree_planting/utils/__pycache__
/urban_tree_planting/models/__pycache__
ReLeaf_Agent/.DS_Store
urban_tree_planting/models/.DS_Store
ReLeaf_Agent/mcp/INTEGRATION_SUMMARY.md
ReLeaf_Agent/mcp/urban_tree_planting/.DS_Store
ReLeaf_Agent/AGENT_WORKFLOW.md
ReLeaf_Agent/mcp/urban_tree_planting/heatmap_README.md

**/node_modules/
**/dist/
**/package-lock.json
/ReLeaf_Agent/diagrams/venv
ReLeaf_Agent/diagrams/__pycache__/data_flow_architecture.cpython-312.pyc
ReLeaf_Agent/diagrams/__pycache__/system_architecture.cpython-312.pyc
ReLeaf_Agent/diagrams/system_architecture.py
ReLeaf_Agent/diagrams/setup.sh
ReLeaf_Agent/diagrams/requirements.txt
ReLeaf_Agent/diagrams/README.md
ReLeaf_Agent/diagrams/generate_diagrams.py
ReLeaf_Agent/diagrams/data_flow_architecture.py
presentation/public/.DS_Store
presentation/.DS_Store
.DS_Store
