# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

notebooks/cache/*
notebooks/data/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# Local project documentation
CLAUDE.md
/data/3d_context

.env
/urban_tree_planting/config/__pycache__
/urban_tree_planting/core/__pycache__
/urban_tree_planting/pipeline/__pycache__
/urban_tree_planting/utils/__pycache__
/urban_tree_planting/models/__pycache__
